<div class="centerAligned">
  <p-card header="Login" styleClass="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="username" class="label-style">Username</label>
          <input id="username" pInputText formControlName="username" type="text" placeholder="Enter your username" />
          @if(loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
            <div><small class="p-error">username is required</small></div>
          }
        </div>
  
        <div class="p-field">
          <label for="password" class="label-style">Password</label>
          <input id="password" pInputText formControlName="password" type="password" placeholder="Enter your password" />
          @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            @if(loginForm.get('password')?.errors?.['required']) {
              <div><small class="p-error">Password is required</small></div>
            }
            @if(loginForm.get('password')?.errors?.['minlength']) {
              <div><small class="p-error">Password must contain at least six characters</small></div>
            }
          }
        </div>
  
        <button pButton label="Login" type="submit" [disabled]="loginForm.invalid" class="login-button">Log in</button>
      </div>
    </form>
  </p-card>
</div>
