<div class="createPostWrapper">
	<h2>Posts</h2>
  
	@if(isAdmin()) {
		<p-button label="Create Post" icon="pi pi-plus" (click)="redirectToCreatePost()" class="p-button-success"></p-button>
	}
</div>
<div class="post-list">
	@for (post of paginatedPosts; track post.id) {
		<app-post-item [post]="post" [isAdmin]="isAdmin()"></app-post-item>
	} @empty {
		<li>There are no items.</li>
	}
</div>

<p-paginator 
  [rows]="rows" 
  [totalRecords]="totalPosts" 
  (onPageChange)="paginate($event)" 
  styleClass="p-mt-3">
</p-paginator>