.post-list {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
	gap: 1rem;
}

.createPostWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}